# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment
.env

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache

# OS
.DS_Store
Thumbs.db
